header img.logo {
    display: block;
    margin: 0 auto;
    border-bottom: 4px solid #0e2b57;
}

h1{
    text-align: center;
}

div#pacman-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}